<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>login</title>
</head>
<body>
<div style="text-align:center; margin-top:50px;">
    <strong><p style="font-size:20px;">登陆</strong>
    <div style="color:red">{{ error }}</div>
    <form action="" method="post">
        用户名：<input type=text name=username style="width: 150px;"><br><br>
        密码：<input type=password name=password style="width: 150px"><br><br>
        <input type=submit value=登陆><br>
    </form>
</div>
</body>
</html>